p{
    width: 150px;
    height: 100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
    border-top: 2px dashed blue;
    border-left: 2px dotted yellow;
    border-bottom: 2px double red;
    border-right: none;
    padding-top: 10px;
    padding-left: 10px;
}