body{
    background: linear-gradient(#966e37, #fde5a8);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    font-family: 'Abyssinica SIL', serif;
    margin: 0px;
    color: black;
}
a{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;
    text-decoration: none;
}
#capa1{
   
   width: 1325px;
   height: 280px;
   overflow: hidden;

   margin: 10px;
   margin-top: 0px;
   margin-bottom: 10px;

   box-shadow: 2px 5px 10px black;
}
p{
    font-size: 48px;
}
#navigation{
    width: 1349px;
    height: 90px;
    background-color: #b67f32;
    margin: 0px;

    box-shadow: 2px 5px 10px black;
}
ul{
    display: inline-block;
    position: relative;
    margin-left: 300px;
    margin-top: 25px;
}
li{
    display: inline;
    font-size: 30px;
    border: 1px black solid;
    border-radius: 20px;
    padding: 7px;
    margin-right: 40px;

    box-shadow: 1px 1px 5px black;
}
.ober:hover{
    background-color: black;
    color: white;
    box-shadow: 3px 3px 6px black;
}
#conheça{
    background-color: #f6d47f;
    display: inline-block;
    max-width: 800px;
    max-height: 700px;
    border: white double;
    border-radius: 20%;
    overflow: hidden;
    margin: 25px 50px;
    text-align: center;
    transform: translate(10px,10px);
    padding: 20px;
    padding-top: 10px;
    margin-top: 25px;
}
h1{
    font-size: 350%;
    text-align: center;
    vertical-align: 100%;
    border-style: dashed;
    border-color: brown;
    display: inline-block;
    margin: 40px;
    width: 450px;
    box-shadow: 4px 4px 8px #966e37;
}
h2{
    margin-top: 5px;
}
#regina{
    width: 300px;
    height: 300px;
    border-color: white;
    border-style: double;
    border-radius: 20%;
    display: inline-block;
    overflow: hidden;
    margin-top: 0px;
    background-color: #f6d47f;
    transform: translateY(-80px);
    box-shadow: 4px 4px 8px #966e37;
}
.myimg{
    width: 300px;
    height: 600px;
    object-fit: cover;
    transform: translateX(25px);
    padding: 0px;
    transform: scale(1.12);
}