*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
}

header{
    background-color: pink;
    text-align: center;
    color: white;
    padding: 10px;
}

.container{
    max-width: 1000px;
    margin: auto;
}

.title{
    font-size: 26px;
}
section{
    padding: 20px;
    background-image:url("/images/people.jpg");
    background-size: cover;
    overflow:hidden;
}

.formContainer{
    max-width: 230px;
    background-color: #FFFFFFBB;
    padding: 20px;
    float: right;
}
h2{
    font-size: 16px;
}
.mb{
    margin-bottom: 15px;
}
input, select{
    width: 100%;
    box-sizing: border-box; /* Isso força as caixas do input a ficarem do mesmo tamanho */
    border-style: none;
    padding: 10px;
    margin-bottom: 7px;
}
input[type="submit"]{
    color: rgb(163, 13, 38);
    font-weight: bold;
    background-color: aqua;

}

input:hover{
    background-color: rgb(253, 104, 129);
    border: none;
}
select:hover{
    background-color: rgb(253, 104, 129);
}
select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(/images/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);
}
footer{
    background-color: #18021d;
    padding: 40px;
    text-align: center;
}
#foto{
    width: 160px;
}
.description{
    color: white;
    display: inline-block;
    text-align: left;
    max-width: 40%;
    margin-left: 40px;
}
.description p, .description h3{
    margin-bottom: 20px;
}
.description h3{
    font-size: 24px;
}
@media screen and (max-width:500px){
    .formContainer{
        position: relative;
        right: 11%;
        max-width: 300px;
    }
    .description{
    font-size: 16px;
}
#foto{
    vertical-align: 300px;
}
.description h3{
    font-size: 23px;
}