@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body{
    font-family: Poppins;
    margin: 0;
    padding: 0;
    border: 0;
}
#header{
    background-color:#6950A1;
    color: white;
    padding: 30px;
    box-shadow: 2px 2px 5px gray;
}
h2{
    width: 40%;
    margin-top: 35px;
}
#main-content{
    width: 52%;
    padding:30px;
    font-weight:500;
}
h3{
    width: 87%;
    font-weight: 700;
    margin-bottom: 40px;
}
#formulario{ 
    width: 22%;
    border: 2px solid #6a50a194;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    left: 65%;
}
#head-form{
    background-color: #1A1033E5;
    border-radius: 15px;
    color: white;
    padding: 1px 15px;
    text-align: center;
}
#form{
    width: 250px;
    padding: 15px 15px;
    font-size: 14px;
    color: rgb("2B2B2B");
}
input{
    width: 100%;
    padding: 4px;
    opacity: 0.8;
    margin: 5px;
    border: 1px solid #6950A1;
    border-radius: 5px;
}
button{
    background-color: #6950A1;
    border-radius:12px;
    border: none;
    color: white;
    width: 265px;
    position: relative;
    top: 20px;
    margin-bottom: 30px;
    padding: 10px;
    font-weight: 790;
    text-transform: uppercase;
}
button:hover{
    background-color: #8e6cd9;
    cursor: pointer;
}
.botaolink{
    clear: both;
    background-color: #351972;
    text-decoration: none;
    text-align: center;
    border-radius:12px;
    border: none;
    color: white;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
}
.botaolink:hover{
    background-color: #8e6cd9;
    cursor: pointer;
}
@media screen and (max-width:500px){
    #formulario{
        position: static;
        /* top:800px;
        left: 10%;
        right: 10%;*/
        width: 100%; 
    }
    #head-form{
        border-radius: 0;
    }
    .input-form{
        font-size: 18px;
        width: 65vh;
        margin-bottom: 5px;
    }
    input{
        padding: 7px;
    }
    button{
        width: 60vh;
        margin-left: 10%;

    }
    h2{
        width: 100%;
        text-align: center;
    }
    #main-content{
        text-align: center;
    }
    h3{
        width: 160%;
    }
    p{
        width:170%;
        font-size: 18px;
    }
    ul{
        text-align: left;
        margin-top: 30px;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
        width: 150%;
    }
}
