@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Poppins;
    background-color: rgb(104, 1, 1);
}
.container{
    background-color: rgb(199, 198, 198);
    height: 569px;
    width: 617px;
    margin: 15px auto;
    border: 1px solid black;
    padding: 30px;
}
.content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
}
.rightSide{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 300px;
}
button{
    background-color: rgba(128, 128, 128, 0);
    border: none;
    margin-top: 35px;
    cursor: pointer;
}
button:hover{
    transform: scale(1.2, 1.2);
}

#image{
    width: 270px;
    height: 390px;
    border-radius: 7px;
}
#logo-main{
    width: fit-content;
    margin: 18px auto;
}
#name{
    font-size: 26px;
    font-weight: 900;
}
