body{
    font-family: "Poppins";
    background: linear-gradient( to bottom, crimson , violet);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    display: inline;
}
#centro{
    padding: 10px;
    max-width: 400px;
    height: 400px;
    max-height: 400px;
    margin: auto;
    background-color: rgba(133, 198, 255, 0.654);
    text-shadow: 2px 2px 6px rgb(67, 66, 66);
    border-radius: 15px;
}
h5{
    color: deeppink;
}
#foco{
    margin: 15px 5px;
}
#veri{
    background-color: violet;
    transform: scale(1.4);
    border: 1px solid rgb(130, 48, 130);
    border-radius: 3px;
}
#veri:hover{
    background-color: rgb(138, 21, 138);
}